
#contactForm{
    border: 1vw solid green;
    background: white;

    color: grey;
    width: 35vw;
    height: 22vw;
    margin-left: 10vw;
    float: left;
}

#registerForm{
    border: 1vw solid green;
    background: white;

    color: grey;
    width: 35vw;
    height: 22vw;
    margin-left: 5.15vw;
    float: left;
}



.form .form-row {
    padding: 0.5vw;
    margin-bottom: 0;
    height: 3vw;
}

.form .form-row:nth-child(3) {
    margin-bottom: 0;
    height: 9vw !important;
}
.form input[type=text],
.form input[type=email],
.form textarea,

.form input[type=text],
.form input[type=email],
.form input[type=password],
.form textarea {
    border:0.125vw solid grey;
    display: block;
    width:27vw;
    color:#666;
    margin-left:  auto;
    margin-right:  auto;
    margin-top: 0em;
    margin-bottom: 0em;
    height: 1.5vw;
    padding: 0vw;
    float: left;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
    border-color:#9DC9F5;
    outline:none;
}
#field-message {
    height:100% !important;
}
.form label {
    display: block;
    font-size:1vw;
    height: 1.5vw;
    margin-left: 0vw;
}
.form .submit-btn{
    padding:0.5vw;
    background: #70B81B;
    border:0;
    color:#fff;
    font-size:0.6vw;
    font-weight: bold;
    transition: 0.3s background-color;
    margin: 0vw !important;
}

/* checkbox */
.form .submit-btn:hover{
    background: #7EC927;
}

.col{
    width: 5vw;
    float: left;
    height: 2vw;
    text-align: center;
    padding: 0.25vw;
}

#usunZawodnik{
    display: none;
}

#field-id{
    width: 3vw;
}

#label-id{
    width: 30vw
}

#field-plik{
    height: 2vw;
    width: 25vw;
    font-size: 1vw;
    padding: 0vw;
    border-width: 0vw;
}

#field-plik input{
    padding: 0vw;
    border-width: 0vw;
}